.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.contents-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.j-center {
  justify-content: center;
}

.app {
  transition: 0.25s ease;
  background-color: #e4fff2;
  min-height: 100vh;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &__body {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0;
  }

  &__content {
    padding: 48px 24px;
    width: 100%;
    overflow-y: auto;
    height: 100%;

    &__inner {
      width: 100%;
      margin: 0 auto;
    }
  }
}

a {
  text-decoration: none !important;
}

.fade_popup {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.fade {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}

.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered_addpopup {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lb {
  margin-top: 10px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  color: #089453;
}

.modal-dialog {
  margin-top: 10%;
}

.member {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  background: #e4fff2;

  .member-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
  }
}
.ewslVP.ewslVP {
  color: red;
}
